p.forecast {
    text-align: right;
    font-size: 14px;
}

h1.forecast {
    text-align: left;
    font-size: 16px;
    margin-top: 4px;
    margin-bottom: 4px;
}

div.forecast_deck {
    width: 100%
}

div.forecast_tile {
    padding: 14px;
    text-align:center;
    font-size: 14px;
}

img.forcastIcon {
    overflow: auto;
    object-fit: contain;
    object-position: center;
}